@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(26, 26, 26);
}

a {
    color: white;
}

.m-radio__toggle {
    font-size: 3rem;
    margin-right: 2rem;
}

.u-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.m-logo__wrapper {
    text-align: center;
}

.m-logo {
    color: white;
    font-size: 4rem;
    margin: 5rem auto;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

.m-logo::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    content: "";
    height: 5px;
    background-color: #5c0c9e;
}

.m-radio {
    color: white;
    background-color: #5c0c9e;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.m-radio__song {
    padding: 1rem 2rem;
    display: flex;
    margin-right: auto;
    align-items: center;
}

.m-radio__cover {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.m-radio__song-info {
    margin-left: 1rem;
}

.m-radio__title {
    font-size: 2rem;
    font-weight: bold;
}

.m-radio__presenter {
    padding: 1rem 2rem;
    display: flex;
    background-color: #5c0c9e;
    align-items: center;
}

.m-radio__avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.m-radio__sub-title {
    font-size: .8rem;
    margin-bottom: 0.3rem;
    opacity: .7;
}

.m-radio__presenter-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.m-radio__presenter-info {
    margin-left: 1rem;
}